<webobject name = "IsHelpTextEnabled">
  <webobject name = "IsPageLevelHelpText">
<webobject name="ShowCreate"><webobject name="Create">+</webobject></webobject><webobject name="ShowEdit"><webobject name="Edit">o</webobject>
</webobject><webobject name="HelpText"></webobject>
  </webobject>
  <webobject name = "IsPropertyLevelHelpText">
  <span class = "Tooltip HelpTooltip PropertyHelpTooltip">
    <webobject name = "ShowCreate">
      <webobject name = "TooltipTriggerSpan">
        <webobject name = "Create"> ? </webobject>
      </webobject>
      <webobject name = "HasHelpText">
        <div class = "TooltipHelpText"><webobject name = "HelpText" /></div>
      </webobject>
    </webobject>
    <webobject name = "ShowEdit">
      <webobject name = "TooltipTriggerSpan">
        <webobject name = "Edit"> ? </webobject>
      </webobject>
      <webobject name = "HasHelpText">
        <div class = "TooltipHelpText"><webobject name = "HelpText" /></div>
      </webobject>
    </webobject>
    <webobject name = "HideActions">
      <webobject name = "HasHelpText">
        <webobject name = "TooltipTriggerSpan"> ? </webobject>
        <div class = "TooltipHelpText"><webobject name = "HelpText" /></div>
      </webobject>
    </webobject>
  </span>
  </webobject>
</webobject>