<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "ShowTopActionBlock">
      <webobject name = "TopActionBlock">
        <webobject name = "PageActions" />
        <webobject name = "SecondaryActionBlock" />
      </webobject>
    </webobject>
    <webobject name = "InnerWrapper">
      <webobject name = "AboveDisplayPropertyKeys" />
      <webobject name = "ErrorBlock" />
      <webobject name = "InspectPageRepetition" />
      <webobject name = "useFocus">
        <webobject name = "IsEditing"><webobject name = "Script" /></webobject>
      </webobject>
      <webobject name = "BelowDisplayPropertyKeys" />
    </webobject>
    <div class = "InnerClear"></div>
    <webobject name = "ShowBottomActionBlock">
      <webobject name = "BottomActionBlock">
        <webobject name = "PageActions" />
        <webobject name = "SecondaryActionBlock" />
      </webobject>
    </webobject>
  </webobject>
</webobject>