<webobject name = "IsPropertySortable">
<webobject name = "InFormConditional">
  <div class = "TableHeader"><webobject name = "ToggleSubmit"><webobject name = "PropertyName" /></webobject>
  <webobject name = "DisplayPropertyHelpText"><webobject name = "HelpText" /></webobject></div>
</webobject>
<webobject name = "NotInFormConditional">
	<div class = "TableHeader"><webobject name = "ToggleLink"><webobject name = "PropertyName" /></webobject>
	<webobject name = "DisplayPropertyHelpText"><webobject name = "HelpText" /></webobject></div>
</webobject>
</webobject>
<webobject name = "IsNotPropertySortable"><webobject name = "PropertyName" /><webobject name = "DisplayPropertyHelpText"><webobject name = "HelpText" /></webobject></webobject>