<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "ShowTopActionBlock">
      <webobject name = "TopActionBlock"> <webobject name = "Actions" /> </webobject>
    </webobject>
    <webobject name = "InnerWrapper">
      <webobject name = "ErrorBlock" />
      <webobject name = "QueryPageRepetition" />
    </webobject>
    <webobject name = "ShowBottomActionBlock">
      <webobject name = "BottomActionBlock"> <webobject name = "Actions" /> </webobject>
    </webobject>
    <webobject name = "ShowList">
      <hr class = "queryList" />
      <webobject name = "ShowResults"> <webobject name = "ListPage" /> </webobject>
    </webobject>
  </webobject>
</webobject>