<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "InnerWrapper">
      <webobject name = "AboveDisplayPropertyKeys" />
      <webobject name = "ShowBanner">
        <webobject name = "BannerDiv"> <webobject name = "BannerComponent" /> </webobject>
      </webobject>
      <webobject name = "ShouldNotDisplayValidationErrorsInline"><webobject name = "ErrorBlock" /></webobject>
      <webobject name = "InspectPageRepetition" />
      <webobject name = "BelowDisplayPropertyKeys" />
    </webobject>
    <div class = "InnerClear"></div>
    <webobject name = "BottomActionBlock">
      <webobject name = "BottomActions" />
    </webobject>
  </webobject>
</webobject>