{
    attributes = (
        {allowsNull = N; columnName = GID; name = gid; prototypeName = globalID; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = "IS_DELETED"; 
            name = isDeleted; 
            prototypeName = intBoolean; 
        }, 
        {
            allowsNull = Y; 
            columnName = lastEntryID; 
            name = lastEntryID; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (gid, id, isDeleted, lastEntryID); 
    className = "er.corebusinesslogic.audittrail.ERCAuditTrail"; 
    classProperties = (entries, gid, isDeleted, lastEntry); 
    externalName = ERCAuditTrail; 
    fetchSpecificationDictionary = {}; 
    name = ERCAuditTrail; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERCAuditTrailEntry; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = trailId; sourceAttribute = id; }); 
            name = entries; 
        }, 
        {
            destination = ERCAuditTrailEntry; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = lastEntryID; }); 
            name = lastEntry; 
        }
    ); 
}
