<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "InnerWrapper">
      <webobject name = "Refresh">
      	<webobject name = "ThreadMonitor" />
      </webobject>
      <webobject name = "WatchIndicator" />
    </webobject>
    <div class = "InnerClear"></div>
    <webobject name = "ShowBottomActionBlock">
      <webobject name = "BottomActionBlock">
        <webobject name = "ShouldShowDefaultPageButtons">
          <ul class = "ActionList">
            <li><webobject name = "ReturnButton" /></li>
          </ul>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>