<span class = "ERDControllerButton">
  <webobject name = "IsFlyOver">
    <webobject name = "FlyOver">
      <webobject name = "FlyOverLabel"><webobject name = "ControllerImage" /></webobject>
      <webobject name = "FlyOverContent">
        <webobject name = "ShowAsButtons">
          <webobject name = "Choices"><webobject name = "ChoiceButton" />&nbsp; </webobject>
        </webobject>
        <webobject name = "ShowAsList">
          <ul class = "ERDControllerButtonFlyOverList">
            <webobject name = "Choices">
              <webobject name = "ShowNoGroupSeparator">
                <li><webobject name = "ChoiceLink" /></li>
              </webobject>
              <webobject name = "ShowGroupSeparator">
                <li class="LastGroupEntry"><webobject name = "ChoiceLink" /></li>
              </webobject>
            </webobject>
          </ul>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
  <webobject name = "IsNotFlyOver">
    <ul class = "ERDControllerButtonLinkList">
      <webobject name = "Choices">
        <li>
          <webobject name = "IsButton"><webobject name = "ChoiceButton" /></webobject>
          <webobject name = "IsNotButton"><webobject name = "ChoiceLink" /></webobject>
        </li>
      </webobject>
    </ul>
  </webobject>
  <webobject name = "DebuggingEnabled">
    <a class = "D2WPropertyDebugInfoToolTip">?<span><table class = "D2WPropertyDebugInfo">
          <tr>
            <th>Branch delegate</th>
            <td><webobject name = "branchDelegateClass"/></td>
          </tr>
      </table></span>
    </a>
  </webobject>
</span>
