<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "ShowTopActionBlock">
      <webobject name = "TopActionBlock">
        <webobject name = "PageActions" />
        <webobject name = "SecondaryActionBlock"/>
      </webobject>
    </webobject>
    <webobject name = "TabPanel">
      <webobject name = "InnerWrapper">
        <webobject name = "ShouldNotDisplayValidationErrorsInline"><webobject name = "ErrorBlock" /></webobject>
        <webobject name = "AboveDisplayPropertyKeys" />
        <webobject name = "InspectPageRepetition" />
        <webobject name = "useFocus">
          <webobject name = "IsEditing"><webobject name = "Script" /></webobject>
        </webobject>
      </webobject>
    </webobject>
    <webobject name = "ShowBottomActionBlock">
      <webobject name = "BottomActionBlock">
        <webobject name = "PageActions" />
        <webobject name = "SecondaryActionBlock"/>
      </webobject>
    </webobject>
  </webobject>
</webobject>