<webobject name = "opentipCss" />
<webobject name = "opentipJs" />
<webobject name = "isPolyfillRequired"><webobject name = "mutationObserverPolyfill"/></webobject>
<script type = "text/javascript">
  Opentip.styles.wonder = {
    escapeContent: true,
    escapeTitle: true,
    extends: 'glass',
   	fixed: true
  };
  Opentip.defaultStyle = 'wonder';

  function addOpentips() {
       // collect all candidates, i.e. elements matching the target class
       var candidates = document.getElementsByClassName('<webobject name = "TargetClass"/>');
       for (i = 0; i < candidates.length; i++) { 
  	var candidate = candidates[i];
  	var isCandidateOverflowing = candidate.offsetWidth < candidate.scrollWidth;
  	var isParentOverflowing = candidate.parentElement.offsetWidth < candidate.parentElement.scrollWidth;
  	// only add a tooltip for elements that are overflowing and have no title attribute set
  	if ((isCandidateOverflowing || isParentOverflowing) && !candidate.title) {
  		var existingOpentips = candidate.getAttribute('data-id');
       		// if the element has a data-id attribute, it already has a tooltip
       		if (!candidate.getAttribute('data-id')) {
       			new Opentip(candidate, candidate.textContent, {});
       		}
    	}
    }
  };

  function addObserver() {
  	// apply tooltips to any span elements created via Ajax
  	MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
  	var observer = new MutationObserver(function(mutations) {
      	addOpentips();
  	});
	var mainContentDiv = document.getElementById('MainContent');
	observer.observe(mainContentDiv, {childList: true, subtree: true});
  };

  document.addEventListener("DOMContentLoaded", addOpentips, false);
  document.addEventListener("DOMContentLoaded", addObserver, false);
</script>