<webobject name = "HasChoices">
  <webobject name = "ActionList">
    <webobject name = "BranchButtonRepetition">
      <li>
        <webobject name = "UseAjaxSubmitButton">
          <webobject name = "BranchButton2">
            <span><webobject name = "BranchButton2Label" /></span>
          </webobject>
        </webobject>
        <webobject name = "NotUseAjaxSubmitButton"> <webobject name = "BranchButton" /></webobject>
      </li>
    </webobject>
  </webobject>
  <webobject name = "DebuggingEnabled">
    <a class = "D2WPropertyDebugInfoToolTip">?<span>
        <table class = "D2WPropertyDebugInfo">
          <tr>
            <th>Branch delegate</th>
            <td><webobject name = "branchDelegateClass" /></td>
          </tr>
        </table>
      </span>
    </a>
  </webobject>
</webobject>